/* Reset de CSS - Evitar erros entre browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declarção de variáveis CSS "padrão" */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-icon: url(./assets/moon-stars.svg);
  --button-background: white;
}

/* Declarção de variáveis CSS para o modo "light" */
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-icon: url(./assets/sun.svg);
  --button-background: white;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
  filter: invert(1);
}

/* Configuração padrão do body */
body {
  background: var(--bg-url) no-repeat top center/cover;
  animation: moverFundo 30s infinite alternate linear;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Media queries */
@media (min-width) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Animações com keyframes */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}

@keyframes moverFundo {
  /* Animação para mover a imagem de plano de fundo */
  from {
    background-position: 0 0; /* Posição inicial da imagem */
  }
  to {
    background-position: 100% 100%; /* Posição final da imagem */
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Container da barra de progresso */
#barra-carregamento-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px; /* Altura da barra */
  background-color: #e0e0e000; /* Cor do fundo (transparente) */
  z-index: 1000; /* Mantém a barra acima do conteúdo */
}

#barra-carregamento {
  height: 100%;
  width: 0%; /* Começa com largura 0 */
  background-color: #ff0080; /* Cor da barra de progresso */
  transition: width 0.4s ease-in-out; /* Animação suave da barra */
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#barra-carregamento::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Brilho suave */
  opacity: 0;
  transition: opacity 0.3s ease; /* Animação suave da opacidade */
  border-radius: 10px; /* Mantém o brilho arredondado */
}

#barra-carregamento-container:hover #barra-carregamento::after {
  opacity: 1; /* Brilho aparece ao passar o mouse */
}

/* Pop-up de políticas de privacidade */
#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup-conteudo {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 20px;
    padding-bottom: 6px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 10px;
  }
  button {
    padding: 10px 20px;
    font-weight: 500;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:first-of-type {
    color: green; /* Verde para o botão Aceitar */
  }

  button:last-of-type {
    color: red; /* Vermelho para o botão Recusar */
  }
  button:hover {
    transform: scale(1.05);
  }
}

/* Configuração do container geral - onde entra todo o conteúdo */
#container-geral {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Área que exibe foto e nome */
#profile {
  transition: all 1s;
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

h1 {
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  margin-top: 14px;
}

/* Botão slider switch para troca de modos */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: var(--button-background) var(--switch-icon) no-repeat center;
  border: 0;
  border-radius: 50%;

  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.4s;
}

#switch button:hover {
  outline: 8px solid var(--surface-color-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;

  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Área dos links (estado inicial) */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

ul li .botao {
  display: flex;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li .botao:hover {
  /*pseudo-selector */
  cursor: pointer;
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

ion-icon {
  padding-right: 2%;
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 12px;
}

/* Estilos relacionados ao menu dropdown de idiomas */
.container-idioma {
  display: flex;
  justify-content: flex-end;
}

.btn-idioma {
  font-size: 10px;
  display: inline-block;

  cursor: pointer;

  margin-top: -1rem;
  margin-bottom: -1rem;
  padding: 2px 4px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 300;

  transition: background 0.2s;
}

.btn-idioma:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.seta {
  font-size: 24px;
  margin-left: -10px;
}

.lista-idiomas {
  position: absolute;
  top: 45px;
  left: 0;
  overflow-y: scroll;

  margin-top: -10px;
  padding: 2px 2px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 300;

  display: none;
}

.itens-lista-idioma {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.61rem;
  gap: 0.5rem;
}

.exibir-lista-idiomas {
  display: flex;
}

.itens-lista-idioma:hover {
  /*pseudo-selector */
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  border-radius: 8px;
}

/* Estilos para o box de informações sobre o visitante */
#p-info-visitante {
  text-align: center;
  padding: 44px 0 10px;
  font-size: 16px;
}

#box-info {
  display: block;
  text-align: center;

  padding: 16px 10px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

#box-info div {
  display: flex;
  justify-content: center;

  padding: 2px 6px;
}

#box-info div p {
  font-size: 14px;
  padding: 0 3px;
}

/* Estilos relacionados a galeria de imagens de portfólio de social media */
#container-portfolio {
  display: none;
}

#p-titulo-portfolio {
  margin-top: 28px;
  text-align: center;
  font-size: 16px;
}

#container-barra-de-busca-portfolio {
  margin: 20px 0;
}

#barra-de-busca-portfolio {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

#grid-portfolio {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}

.item-portfolio {
  display: flex;
  align-items: center;
  picture {
    transition: transform 0.3s ease; /* Transição suave para quando ocorrer o hover */
    img {
      cursor: pointer;
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover; /* Mantém a proporção da imagem */
    }
  }
}

.item-portfolio picture:hover {
  transform: scale(1.05);
}

/* Classe para desativar o scroll no body (utilizda em modais) */
.desativar-scroll {
  overflow: hidden;
}

/* Estilos do modal (janela flutuante) para exibir imagem do portfólio ampliada */
#modal {
  display: none;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  flex-direction: column; /* Coloca os elementos em uma coluna */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com transparência */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#img-modal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 72vw;
  max-height: 84vh;
  min-height: 300px;
  object-fit: contain;
}

#legenda-img-modal {
  margin-top: 24px;
  display: block;
  max-width: 72vw;
  text-align: center;
  color: #ccc;
  font-weight: 600;
}

#btn-fechar-modal {
  position: absolute;
  top: 4vh;
  right: 4vh;
}

.botoes-modal {
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  background: none; /* Remove o fundo padrão do botão */
  border: none; /* Remove a borda padrão do botão */
  padding: 0; /* Remove o espaçamento interno padrão */
}

#img-modal,
#legenda-img-modal,
.botoes-modal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.botoes-modal:hover {
  opacity: 0.9;
}

#btn-img-anterior-modal,
#btn-img-seguinte-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#btn-img-anterior-modal {
  left: 5%;
}

#btn-img-seguinte-modal {
  right: 5%;
}

.efeitos-arrasto-img-modal {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
